* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #F9EFDB; */
}
button {
  background-color: #a3a3a33a;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
}

/* Navbar section starts */
nav {
  width: 100vw;
  padding: 20px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #f8d7d7; */
  border-bottom: 2px solid black;
}
nav > h1 {
  font-family: "Bebas Neue", sans-serif;
}
nav > p {
  font-size: 30px;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}
nav > button {
  text-decoration: underline;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
}
/* Navbar Section ends */

/* selection of sorting algorithm sections start */
section.controls {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
section > div.dropdown {
  margin: 2em;
  position: relative;
  min-width: 13em;
  justify-self: center;
}
section > div.dropdown * {
  box-sizing: border-box;
}
section > div.dropdown > div.select {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #0f1035 solid;
  border-radius: 0.5em;
  padding: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.select-clicked {
  border: 2px #7fc7d9 solid;
  box-shadow: 0 0 0.8em #0f1035;
}
section > div.dropdown > div.select:hover {
  background: #0f1035;
  color: #fff;
}
section > div.dropdown > div.select > div.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
section > div.dropdown > ul.menu {
  width: 100%;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  padding: 0.2em 0.5em;
  background: #fff;
  border: 1px solid #7fc7d9;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #000;
  position: absolute;
  top: 3em;
  display: none;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}
section > div.dropdown > ul.menu-open {
  display: block;
  opacity: 1;
}
section > div.dropdown > ul.menu > li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
section > div.dropdown > ul.menu > li:hover {
  background: #dfdfdf;
}
section > div.dropdown > ul.menu > li.active {
  background: #dfdfdf;
}

/* selection of sorting algorithm sections end */

/* control buttons */
section > div.control-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
}
section > div.control-btn > .btn {
  font-family: "Oswald", sans-serif;
  background-color: white;
  border: 2px #638889 solid;
  color: black;
  height: 40%;
  align-self: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}
section > div.control-btn > .btn:hover {
  background-color: #638889;
  color: #fff;
  box-shadow: 0 0 0.8em #638889;
}
.start-btn {
}
.randomize-btn {
}
.speed-btn {
}

section > div.dark-mode {
  justify-self: center;
  align-self: center;
}
section > div.dark-mode > button {
  background-color: black;
  color: white;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

/* customization for the array bars */
main {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  height: 50vh;
}
.sorting-bars {
  border-top: 2px solid rgb(40, 231, 113);
  padding: 10px;
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(60, 1fr);
  gap: 8px;
  transform: rotate(-180deg);
}
.bar {
  background-color: rgb(12, 154, 236);
  width: 10px;
}
